html, body {
	font: 800 12px/15px Muli, sans-serif;
	overflow: hidden;
	height: 100%;
}

li {
	list-style: none;
}

#fs-root, #file-template {
	display: none;
}

.tool-bar {
	position: fixed;
	width: 100%;
}

.address-bar {
	display: flex;
	align-items: center;
	background: #CCB954;
	padding: 2px 3px;
}
.address-bar #fs-address {
	flex-grow: 1;
}

.button {
	background: #c4c4c4;
	border: 2px solid;
	border-color: #f0f0f0 #6f6f6f #6f6f6f #f0f0f0;
	border-radius: 2px;
	padding: 3px 5px;
	margin-right: 2px;
	height: 25px;
}

.button:active {
	border-color: #6f6f6f #f0f0f0 #f0f0f0 #6f6f6f;
}

.address-bar-spacer {
	height: 29px; /* height of .tool-bar */
}

#current-dir {
	height: calc(100% - 29px);
	overflow: auto;
}

.fs-curdir-invalid {
	font-weight: 600;
	text-align: center;
	padding-top: 1em;
}

.shortcut {
	display: inline-block;
	width: 96px;
	height: 72px;
	margin-top: 24px;
	margin-left: 24px;
	text-align: center;
	padding: 1px;
	font-size: 9px;
	font-weight: 600;
}

.shortcut .icon {
	width: 48px;
	height: 48px;
	margin: 0 auto 4px auto;
}

.shortcut:active,
.shortcut.active {
	border: 1px dotted #888;
	padding: 0;
}

.shortcut:active .name,
.shortcut.active .name {
	background: rgb(139, 170, 255);
}

.shortcut.directory .icon {
	background: center/contain no-repeat url("../res/icons/folder_full.svg");
}

.shortcut.trash .icon {
	background: center/contain no-repeat url("../res/icons/trash_empty.svg");
}

.shortcut.document .icon {
	background: center/contain no-repeat url("../res/icons/document.svg");
}

.ic-fs-up {
	background: center/contain no-repeat url("../res/icons/back.svg");
	display: inline-block;
	height: 1em;
	width: 1em;
}

.window-minimize {
	background-image: url("../res/window/minimze.svg"), linear-gradient(to right, #c4c4c4, #c4c4c4);
}

.window-close {
	background: url("../res/window/close.svg"), linear-gradient(to right, #c4c4c4, #c4c4c4);
}
