.terminal-buffer {
	width: 40em;
	height: 25em;
	/* A real VGA BIOS renders on an 80x25 grid at a 16:10 aspect ratio.
	/* We add 1 column to the left and right to keep text from hitting
	/* against the edge of the screen. Thus, the terminal we're emulating
	/* is actually a 78x25 terminal. */
	padding: 0 0.5em;
	font: 16px/1 "IBM BIOS", sans-serif;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	color: #AAAAAA;
	background: black;
}

.terminal-buffer em {
	font-style: normal;
	color: white;
}

#terminal-cursor {
	position: relative;
	top: 1px;
	width: 0px;
	display: inline-block;
}

.bios-gaia-logo {
	background: center/contain no-repeat url('res/bios/gaia_logo-4x.png');
	width: 1em;
	height: 2em;
	float: left;
	margin-top: 1em;
	margin-right: 0.5em;
}

.bios-energy-star {
	background: center/contain no-repeat url('res/bios/energy_star-4x.png');
	width: 8.4375em;
	height: 5.25em;
	float: right;
	margin-top: 1em;
	margin-right: 0.5em;
}

.bios-vga-input {
	margin-left: 15.5em;
	margin-top: 18em;
}

.bios-vga-colors {
	margin-left: 7.5em;
	margin-top: 1em;
	display: flex;
}

.bios-status {
	padding-top: 2em;
	height: 18em;
}

@media (min-width: 1280px) and (min-height: 800px) {
	.terminal-buffer {
		font-size: 32px;
	}
}

@media (min-width: 1920px) and (min-height: 1200px) {
	.terminal-buffer {
		font-size: 48px;
	}
}

@media (min-width: 2560px) and (min-height: 1600px) {
	.terminal-buffer {
		font-size: 64px;
	}
}
