#desktop {
	background: url('res/heavensgate_tile.png');
	font: 800 12px/15px Muli, sans-serif;
	width: 133.3333vh;
	height: 100vh;
}

.window {
	position: absolute;
	border: 3px solid;
	border-color: #e5e5e5 #6f6f6f #6f6f6f #e5e5e5;
	border-radius: 4px;
	background: linear-gradient(90deg, #e5e5e5 0%, #6f6f6f 100%);
	display: none; /* Initially hidden, shown by js */
}

#login-window {
	/* XXX: these are hand calcuated to center the login window */
	left: calc(50vw - 187.5px);
	top: calc(50vh - 154px);
}

#login-error {
	/* XXX: these are hand calcuated to center the login window */
	left: calc(50vw - 205px);
	top: calc(50vh - 114.5px);
}

.window {
	/* approximately centered */
	left: calc(50vw - 205px);
	top: calc(50vh - 114.5px);
}

.window.document {
	width: 600px;
	height: 50vh;
	left: calc(50vw - 300px);
	top: 25vh;
}
.window.document.trapeze {
	width: 600px;
	height: 50vh;
	left: calc(50vw - 275px);
	top: calc(25vh + 25px);
}

.document iframe {
	border: 0;
	width: 100%;
	height: calc(100% - 23px);
}

.img-shutdown {
	background: center/contain no-repeat url("res/login/off_button.svg");
	width: 17px;
	height: 17px;
	margin: -1px -3px; /* partially cancelling a 3px 5px padding */
}

.img-restart {
	background: center/contain no-repeat url("res/login/restart_button.svg");
	width: 17px;
	height: 17px;
	margin: -1px -3px; /* partially cancelling a 3px 5px padding */
}

.img-shutdown-2x {
	background: center/contain no-repeat url("res/login/off_button.svg");
	width: 34px;
	height: 34px;
}

.img-restart-2x {
	background: center/contain no-repeat url("res/login/restart_button.svg");
	width: 34px;
	height: 34px;
}

.img-logoff-2x {
	background: center/contain no-repeat url("res/login/logoff_button.svg");
	width: 34px;
	height: 34px;
}

.img-spacer-2x {
	display: inline-block;
	width: 34px;
	height: 34px;
}

.img-dialog-warning {
	background: center/contain no-repeat url("res/icons/warning.svg");
	height: 32px;
	width: 32px;
	margin-right: 15px;
}

#login-error,
#dlg-security-warning {
	width: 400px;
}

.window .titlebar {
	background: #c4c4c4;
	border-radius: 1px 1px 0 0;
	height: 20px;
	margin-bottom: 3px;
	display: flex;
	align-items: center;
}

.window .titlebar .title {
	padding-left: 5px;
}

.window .titlebar .buttons {
	margin-left: auto; /* push right */
	display: flex;
}

.window .titlebar .button {
	width: 16px;
	height: 16px;
}

.window-minimize {
	background-image: url("res/window/minimze.svg"), linear-gradient(to right, #c4c4c4, #c4c4c4);
}

.window-close {
	background: url("res/window/close.svg"), linear-gradient(to right, #c4c4c4, #c4c4c4);
}

.window .content {
	background: #e5e5e5;
	border-radius: 0 0 1px 1px;
}

.form-row {
	padding: 25px 22px;
	display: flex;
	align-items: center;
	min-height: 48px;
}

.form-row + .form-row {
	padding-top: 0;
}

.form-row .push-right,
.taskbar .push-right {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.form-row label {
	min-width: 75px;
}

.form-row label + * {
	min-width: 250px;
}

input, select {
	border: 2px solid #6f6f6f;
	border-radius: 5px;
}

.window .button {
	border: 2px solid;
	border-color: #f0f0f0 #6f6f6f #6f6f6f #f0f0f0;
	border-radius: 2px;
	padding: 3px 5px;
	margin-right: 2px;
	height: 25px;
}

.window .button:active {
	border-color: #6f6f6f #f0f0f0 #f0f0f0 #6f6f6f;
}

.version-info {
	padding: 3px 5px;
	text-align: right;
}

.debold {
	font-weight: 600;
}

#logged-in {
	display: none; /* Initially hidden, shown by js */
}

.taskbar {
	display: flex;
	background: #c4c4c4;
	border: 3px solid;
	border-color: #e5e5e5 #6f6f6f #6f6f6f #e5e5e5;
	border-radius: 0 0 6px 6px;
}

.taskbar .button {
	height: 21px;
	padding: 0 3px;
	border: 3px solid;
	border-color: #626262 #000000 #000000 #626262;
	border-bottom-left-radius: 3px;
	color: white;
	background: linear-gradient(289.59deg, #626262 0%, #000000 100%);
}

.taskbar .button:active {
	border-color: #000000 #626262 #626262 #000000;
}

.taskbar .button + .button {
	border-radius: 0;
	margin-left: 4px;
}

#system-clock-well {
	display: flex;
	align-items: center;
	margin: 1px 1px 1px auto;
	padding: 0 5px;
	min-width: 5.5em;
	text-align: right;
	border: 1px solid;
	border-color: #6f6f6f #e5e5e5 #e5e5e5 #6f6f6f;
	border-bottom-right-radius: 2px;
}

#system-clock-well > * {
	margin: 0 auto;
}

.shortcuts {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 9px;
	font-weight: 600;
}

.shortcut {
	width: 64px;
	height: 82px;
	margin-top: 24px;
	margin-left: 24px;
	text-align: center;
	padding: 1px;
}


.shortcut:active,
.shortcut.active {
	border: 1px dotted #888;
	padding: 0;
}

.shortcut:active span,
.shortcut.active span {
	background: #FF00FF;
}

.ic-trash-empty {
	background: center/contain no-repeat url("res/icons/trash_empty.svg");
	width: 48px;
	height: 48px;
	margin: 0 auto 4px auto;
}

.ic-trash {
	background: center/contain no-repeat url("res/icons/trash.svg");
	width: 48px;
	height: 48px;
	margin: 0 auto 4px auto;
}

.ic-navigator {
	background: center/contain no-repeat url("res/icons/navigator.svg");
	width: 48px;
	height: 48px;
	margin: 0 auto 4px auto;
}

#startmenu {
	display: none; /* Initially hidden, shown by js */
	background: url("res/login/start_banner.svg");
	margin-left: 3px;
	padding-left: 20px;
	width: 40px;
	border-bottom-left-radius: 3px;
}

.startmenu {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	width: 200px;
	height: 200px;
	margin-bottom: -200px;
	padding-left: 44px;
	border-radius: 0 0 3px 3px;
	background: #c4c4c4;
}

.startmenu li {
	list-style: none;
	display: flex;
	align-items: center;
	min-height: 50px;
}

.startmenu .username-row {
	display: block;
	margin-top: auto;
	font-weight: 600;
}

#startmenu-username {
	font-weight: 800;
}

.startmenu li:first-child + li {
	margin-top: auto;
}

.startmenu li.clickable:hover {
	background: #527AEA;
}

.startmenu li + li {
	border-top: 1px solid #aaaaaa;
}

.startmenu li > *:first-child {
	margin-left: -39px;
	margin-right: 8px;
}

.bsod {
	height: 100vh;
	width: 133vh;
	display: flex;
	align-items: center;
	background: #0000FF;
	color: white;
	font-size: 12px/15px;
}

.bsod > * {
	margin: 0 auto;
	max-width: 133vh;
	white-space: pre-wrap;
}

#dialog-set-time {
	left: calc(50vw + 66.6667vh - 375px);
	top: 27px;
}

#dlg-timelock {
	top: calc(100vh - 325px);
}
