body.game-active {
	overflow: hidden;
}

body.hide-cursor {
	cursor: none;
}

.game {
	background: black;
	display: none;
	align-items: center;
	justify-content: center;
	height: 100vh;
	user-select: none;
}

.game-active .game {
	display: flex;
}

.game-active article {
	display: none;
}

.game > * {
	display: none; /* Initially display nothing. JS will cause stuff to display */
}

.pre {
	white-space: pre;
}

#btn-start-game-fast-boot {
	display: none; /* display with special query string */
}

@font-face {
	font-family: "IBM BIOS";
	font-style: normal;
	font-weight: normal;
	src: url("res/Px437_IBM_VGA8.ttf") format("truetype");
}


@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

article {
	width: 40em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3em;
	animation: fadeIn 1s;
}

h2 {
	margin-top: 1em;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 4em;
	color: blue;
}

article button {
	font-size: 2em;
	font-weight: bold;
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	border: 6px solid;
	border-color: #e5e5e5 #6f6f6f #6f6f6f #e5e5e5;
	border-radius: 4px;
	background: #c4c4c4;
	padding: 0.25em 0.5em;
}

article button:active {
	border-color: #6f6f6f #e5e5e5 #e5e5e5 #6f6f6f;
}
