#splash {
	background: center/contain no-repeat url('res/chronos_splash.png');
	height: 100vh;
	width: 133.3333vh;
}

#splash .progressbar {
	background: white;
	height: 80px;
	margin: calc(100vh - 80px - 20px) 20px 20px;
}

#splash .progressbar > * {
	background: #527AEA;
	height: 100%;
}
